pkgbase = strongbox-tpm2-git
	pkgver = r42.c4412fe
	pkgrel = 1
	arch = x86_64
	depends = zfs-utils
	optdepends = handle-tpm
	provides = strongbox-tpm2
	conflicts = strongbox-tpm2
	source = git+https://github.com/kkernick/strongbox.git
	sha256sums = SKIP

pkgname = strongbox-tpm2-git
