[Unit]
Description=Unlock %i with Strongbox
After=cryptsetup.target
After=systemd-hibernate-resume.service
After=initrd-root-device.target

[Service]
Type=oneshot
ExecStart=strongbox-decrypt %i

[Install]
WantedBy=strongbox.target
