[Unit]
Description=Unlock the Root Volume with Strongbox
After=cryptsetup.target
After=strongbox-import.service
Requires=strongbox-import.service
Before=sysroot.mount
[Service]
Type=oneshot
ExecStart=strongbox-decrypt

[Install]
WantedBy=initrd-root-device.target
