[Unit]
Description=Unlock %i with Strongbox
After=cryptsetup.target
After=systemd-hibernate-resume.service

[Service]
Type=oneshot
ExecStart=strongbox-import %i
ExecStart=strongbox-decrypt %i

[Install]
WantedBy=strongbox.target
