  [Unit]
  Description=Export all pools
  DefaultDependencies=no
  Before=final.target

  [Service]
  Type=oneshot
  ExecStart=zpool export -a

  [Install]
  WantedBy=final.target
